
.maps {
  width: 50%;
  height: 80%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 1%;
}

.input .open > a,
.input .open > a:hover,
.input .open > a:focus {background-color: transparent;}


.eventContainer {
  width: 50%;
  margin: auto;
  padding-bottom: 1%;
}

.pin {
/*width: 70px;
height: 30px;
background-color: red;*/
display: flex;
justify-content: center;
align-items: center;
color: red;
text-shadow: 1px 1px 1px white;
}

.btn-custom {
  background-color: transparent;
  color: #4c69ba;
  border-width: medium;
  border-radius: 5px;
  border-color: #4c69ba;
}

.facebookButton {
  height:50px;
  position:absolute;
  top:5px;
  right:5px;
}

.navlog {
  margin-top:5px;
}

.user {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position:absolute;
  top:5px;
  right:5px;
}