div.tile {
  width: 300px;
  height: 300px;
  border-width: medium;
  border-style: groove;
  margin: 20px 0;
  right: auto; }

div.right {
  text-align: right;
  padding-right: 0px; }

div.left {
  text-align: left;
  padding-left: 0px; }

div.bold {
  font-style: italic; }

img.flight {
  width: 100%;
  height: 70%; }

span.icon {
  padding: 0 2px; }
