.hero {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center; }

body {
  font-family: "Gudea", sans-serif;
  margin: 0;
  text-align: center;
  padding: 0; }

.intro {
  background-image: url("../../img/intro.jpeg"); }

.title {
  font-family: "Quicksand", sans-serif; }

div.tile {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  right: auto; }

div.right {
  text-align: right;
  padding-right: 0px; }

div.left {
  text-align: left;
  padding-left: 0px; }

div.bold {
  font-style: italic; }

.flight {
  width: 100%;
  height: 70%; }

.carousel-inner > .item > img {
  height: 100%;
  width: 100%; }

.carousel-indicators li {
  visibility: hidden; }

span.icon {
  padding: 0 2px; }

.bold {
  font-weight: bold; }

@media only screen and (max-width: 500px) {
  .mid {
    text-align: center; } }

.budgetSearch {
  padding-right: 0; }

#header {
  height: 50%; }
  #header img {
    height: 100%; }

.map {
  width: 100%;
  height: 20%; }

.maps {
  width: 50%;
  height: 40%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 1%;
}

.eventContainer {
  width: 50%;
  margin: auto;
  padding-bottom: 1%;
}

