body {
  font-family: "Gudea", sans-serif;
  margin: auto; }

.title {
  font-family: "Quicksand", sans-serif; }

div.tile {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  right: auto; }

div.right {
  text-align: right;
  padding-right: 0px; }

div.left {
  text-align: left;
  padding-left: 0px; }

div.bold {
  font-style: italic; }

.flight {
  width: 100%;
  height: 70%; }

.carousel-inner > .item > img {
  height: 100%;
  width: 100%; }

.carousel-indicators li {
  visibility: hidden; }

span.icon {
  padding: 0 2px; }

.bold {
  font-weight: bold; }

@media only screen and (max-width: 500px) {
  .mid {
    text-align: center; } }

.budgetSearch {
  padding-right: 0; }

.maps {
  width: 50%;
  height: 50%;
  margin: auto;
  padding-top: 2%;
}

.mapsText {
  color: red;
  font-size: 30px;
}