@import 'variables';

body {
  font-family: $font-default;
}
.hero {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.title {
  font-family: $font-brand;
}
div.tile {
  width: 375px;
  height: 275px;
  margin: 10px;
  @media only screen and (max-width: 1250px) and  (min-width: 400px) {
    margin: 10px auto;
  }
  @media only screen and (max-width: 400px){
    width: 3 * (375px) / 4;
    height: 3 * (275px) / 4;
    margin: 10px auto;
  }
}
div.right {
  text-align: right;
  padding-right: 0px;
}
div.left {
  text-align: left;
  padding-left: 0px;
}
div.bold {
  font-style:italic;
}
.flight {
  width: 100%;
  height: 100%;
}
.carousel-inner > .item > img {
    height: 100%;
    width: 100%;
}
.carousel-indicators li {
  visibility: hidden;
}
span.icon {
  padding: 0 2px;
}
.bold {
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  .mid {
       text-align: center;
  }
}
.budgetSearch {
  padding-right: 0;
  margin-right: 5px;
}
#header{
  height:50%;
  img {
    height: 100%;
  }
}
.destentry {
  margin: 0 auto;
  max-width: 1200px;
}

.post-content {
  color: white;
  font-size: 30px;
  bottom: 7%;
  left: 8%;
  position: absolute;
    @media only screen and (max-width: 400px){
      left: 15%;
    }
}
.btn-custom {
    background-color: $color-main;
    color: white;
    border-width: medium;
    border-radius: 5px;
    border-color: white;
}
.btn-custom:hover, .btn-custom:active, .btn-custom:visited, .btn-custom:focus {
    background-color: white;
    color: $color-main;
}
